   body {
      text-align: center;
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }
    h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size:60px;
      text-transform: uppercase;
      line-height:90%
      
    }
    h4{
      text-transform: uppercase;
      font-weight:400;
      font-size:14px;

    }
    p {
      font-size: 14px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 14px;
      background: #cccccc;
      font-family: 'Montserrat', sans-serif;
      font-weight:600;
      border-bottom: 2px solid #999999;
      border-radius:3px;
      
    }

    input[type="submit"] {
      background: red;
      color: white;
      border-bottom:2px solid #c20000;
      border-radius:3px;
    }